body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
}

.logo img{
    width: 30px;
}

.card{
    width: 17rem !important;
    padding: 0;
}

.card img{
    height: 10rem;
}

footer .container{
    display: flex;
    align-items:baseline;
    justify-content: space-around;
}

.logo h3{
    margin-bottom: 0;
}

i{
    font-size: 25px;
    padding-right: 10px;
}

.somos i{
    padding: 5px;
}

.fa-solid:active{
    color: red;
} 
    
html {
    scroll-behavior: smooth;
}